{{#paths}}
    package {{package}}.controller;

    import {{package}}.service.{{serviceName}};
    {{#imports}}
    {{/imports}}

    {{#classAnnotations}}
    {{/classAnnotations}}
    @RestController
    @RequestMapping("{{path}}")
    @AllArgsConstructor
    public class {{className}} {
    private final {{serviceName}} {{serviceVariable}};

    {{#endpoints}}
        {{#annotations}}
        {{/annotations}}
        @{{httpMethod}}("{{endpointPath}}")
        public {{returnType}} {{methodName}}({{#parameters}}{{parameterType}} {{parameterName}}, {{/parameters}}@RequestBody {{requestBodyType}} {{requestBodyName}}) {
        {{#securityAnnotations}}
        {{/securityAnnotations}}
        return {{serviceVariable}}.{{methodName}}({{#parameters}}{{parameterName}}, {{/parameters}}{{requestBodyName}});
        }
    {{/endpoints}}
    }
{{/paths}}
